*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    color: #fa0c0c;
    text-align: center;
}

.container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.another-container{
    width: 90%;   
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.title{
    font-size: 50px;
}

h1{
    font-size: 50px;
}

header::before{
    content:"";
    display: block;
    margin-bottom: 80px;
}

header{
    height: 100vh;
    background: #c91818; 
    background: -webkit-linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(0, 39%, 48%, 0.349)), url(../img/Potosifondo.jpg); 
    background: linear-gradient(to right, hsla(188, 44%, 42%, 0.26), hsla(240, 10%, 47%, 0.404), hsla(340, 39%, 48%, 0.349)), url(../img/Potosifondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background: rgb(248, 2, 2);
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    top:0;
    position: fixed;
    z-index: 100;
    
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    height: 60px;
}

.nav .logo img{
    height: 100%;
    vertical-align: top;
}

.links-header{
    font-weight: 300;
    transition: ease-in-out 0.5s
    
}

.nav .links-header a{
    color: #eceff5;
    text-decoration: none;
    margin-left: 20px;
}


.button-menu{
    width: 80px;
    height: 80px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.button-menu > i{
    font-size: 25px;
    line-height: 80px;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
}

.content-header > img{
    width: 510px;
    animation: ease-in animationimg 1s;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.text-header{
    margin: 0,0,0, 30px;
}

.text-header>h1{
    color: rgb(247, 11, 11);
    font-weight: bold;
}

.content-header{
    font-weight: 300;
    margin: 14px;
    color: #5d6678;
}

.content-header a{
    background: red;
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background:#ff0606;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgb(201, 31, 222/0.3);
}


.movie-us{
    background-color: #fadbdb;
}

.container-movies{
    display:flex;
    flex-wrap: wrap;
    margin-top:60px;
    justify-content: space-around;
}

.movies{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.movies:hover{
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.movies > img{
    width: 100%;
    height: 120px;
    margin: auto;
}


.movies > h3{
    font-size: 25px;
    margin-top: 30px;
}


.movies > p{
    font-weight: 100;
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.movies > a{
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}


.eventos{
    background: #fadbdb;
}

.clients{
    background: #dedede;
}

.gallery-eventos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-eventos{
    width: 25%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5)
}

.image-eventos > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 67%, 52%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img{
        width: 70px;
}

.hover-gallery p {
    color:#fff
}

.image-eventos:hover .hover-gallery{
    transform: scale(1);
}


.price{
    background-color: #fadbdb;
    padding-top: 30px;
}

.content-price{
    display: flex;
    justify-content: space-evenly;
}

.numbers{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number{
    width: 45%;
    background: rgba(255,255,255, .2);
    color: rgb(245, 17, 17);
    padding:40px 35px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.numbers .number h4{
    color: rgb(240, 10, 10);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p{
    color: #4d2020;
    font-weight: 300;
}

.price-text{
    width: 40%;
}


.price-text h4{
    color: rgb(247, 8, 8);
    font-size: 40px;
}

.price-text p{
    color: rgb(109, 43, 43);
    font-weight: 300;
    margin: 20px 0;
}

.price-text a{
    color: rgb(243, 9, 9);
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(233, 6, 6);
    width: 120px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
}

footer{
    background: #f80a0a;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin: auto;
}


.content-footer{
    width: 20%;
    text-align: center;
}

.content-footer #img-footer{
    width: 70%;
}


.content-footer h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}



.content-footer a{
    display: block;
    text-decoration: none;
    color:#f5eeee;
    font-weight: bold;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.content-footer a:hover{
    color:#f50d0d
}


.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #feffff;
    border: 1px solid #fcfdfd;
    border-radius: 50%;
    width:40px;
    height: 40px;
    line-height: 37px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover{
    color: rgb(250, 235, 235);
    background-color: #edf8f8;
    border-color: #e4e717;
}
